@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Arial, sans-serif;
    color: black;
    background-color: #FDFFE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
/* header from main page */
header{
    display: flex;
    color: black;
    background-color: #FDFFE9;
    width: 100%;
    height: 55px;
    padding: 10px;
    border-bottom: 1px solid rgb(172, 172, 172);
    position: fixed;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}
.top-part{
    display: flex;
    align-items: center;
    justify-self: center;
    color: black;
    width: 100%;
    margin: 15px;
}
.top-part a{
    text-decoration: none;
    color: black;
}
.top-part ul{
    list-style-type: none;
    margin-left: -30px;
}
.top-part ul li{
    display: inline-block;
    margin-right: 20px;
}
.logo-image{
    width: 122px;
    margin-left: -20px;
    
}
.menu-mobile{
    display: none;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;    
    margin: 15px;
}
#lupa{
    margin-left: auto;
    margin-right: 15px;
    width: 33px;
    height: 33px;
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}
#lupa:hover{
    background-color: #F2D98D;
}
#user-image{
    object-fit: cover;
    width: 27px;
    margin-left: auto;
    padding: 3px;
    background-color: #F2D98D;
    border-radius: 45px;
}
#user-image:hover{
    background-color: #d2bc79;
}
.sideBar{
    display: none;
    pointer-events: none;
}

/* main from main page */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.home-prices{
    background-color: #3B7302;
    display: flex;
    height: calc(100vh);
    width: 100%;
    padding-top: 50px;
    font-family: "Poppins", "sans-serif";
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.home-title{
    text-align: left;
    max-width: 500px;
    padding: 30px;
}
.home-title h1{
    font-size: 35px;
    color: white;
}
.home-title p{
    color: #fff;
    font-size: 14px;
}
#card{
    position: absolute;
    background-color: #87aa64;
    padding: 5px;
    border-radius: 0px 0px 8px 8px;
    font-size: 10px;
    color: white;
    margin-top: -32px;
    transform: translateX(80px);
}
.guaca-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 45px;
    background: aliceblue;
    padding: 5px;
    border: 1px solid rgb(216, 216, 216);
    width: 80%;
    height: 40px;
    gap: 5px;
}
.guaca-btn button{
    background: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 45px;
    border: none;
    width: 130px;
    font-family: "Poppins", "sans-serif";
    cursor: pointer;
}
#guacaBasic:hover{
    background-color: rgb(216, 216, 216);
}
#guacaPro:hover{
    transition: 0.3s ease-in;
    background-color: #3B7302;
    color: white;
}
.guaca-banner{
    margin-top: -10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    border-radius: 20px;
    margin-right: 20px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    margin-top: -35px;
    height: 100%;
}
.banner-text p{
    font-size: 13px;

}
#textPrice{
    margin: 0;
}
#coursePrice{
    color: #3B7302;
    font-size: 50px;
    margin-top: -10px;
    height: 10px;
}

#previousPrice{
    color: gray;
}
#previousPrice span{
    text-decoration: line-through;
}
.banner-text h3{
    color: #316101;
    font-size: 24px;
}
.promocao{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -5px;
}
.promocao i{
    font-size: 30px;
}
#basic{
    display: flex;
}
#pro{
    display: none;
}
.banner-btn button{
    border: none;
    background: none;
    background-color: black;
    color: whitesmoke;
    width: 200px;
    height: 40px;
    margin-top: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: "Poppins";
    cursor: pointer;
}
.banner-btn button:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.students{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    width: 90%;
}
.image-students{
    width: 250px;
    border-radius: 20px;
}
.students-container{
    display: flex;
    justify-content: space-around;
    background-color: #e7e9d7;
    overflow: hidden;
    width: 90%;
    gap: 40px;
    padding: 20px;
    position: relative;
}
.students.active{
    transform: translateX();
}
.students-title{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-family: "Poppins" ;
    font-style: normal;
}
.students-title h2{
    font-size: 32px;
}
.students-container h5{
    font-size: 20px;
}
.students-container p{
    font-size: 15px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #693100;
    width: 100%;
}
.footerContent ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footerContent ul li{
    margin-top: 20px;
}
.footerContent a{
    text-decoration: none;
    color: whitesmoke;
}
.footerContent h6{
    font-size: 20px;
}
.footerSection{
    font-family: Poppins;
    margin: 0px;
    padding: 40px;
    gap: 10%;
    display: flex;
    color: whitesmoke;
}
.guacamoleFinish{
    display: flex;
    background-color: #3B7302;
    align-items: center;
    justify-content: center;
}
.footer-logo{
    margin-top: -20px;
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;

}
.footer-logo img{
    object-fit: cover;
    width: 150px;
    height: 50px;
}
.footer-informations{
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    height: 70px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.guacamoleFinish div a{
    color: whitesmoke;
    text-decoration: none;
}
.guacamoleFinish div button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    height: 25px;
}
.guacamoleFinish div button i{
    margin-right: 5px;
    font-size: 15px;
}
/* main from login page */
.main-login{
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.login-box{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2D98D;
    width: 350px;
    height: 420px;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.input-login{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-login img{
    object-fit: cover;
    width: 40px;
    background-color: #3B7302;
    padding: 5px;
    border-radius: 8px 0px 0px 8px;
}
.login-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 55px;
}

.input-login input{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    padding-left: 10px;
    width: 220px;
    height: 47px;
    border: 0.1px solid rgb(183, 183, 183);
    border-radius: 0px 8px 8px 0px;
}
#hidePassword{
    position: absolute;
    margin-left: 254px;
}
#hidePassword button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    width: 25px;

}
#hidePassword button:hover{
    background-color: rgb(210, 210, 210);
    transition: 0.3s;
}
#open{
    display: flex;
}
#close{
    display: none;
    margin-left: -1px;
}
.login-box a{
    color: black;
}
.logo-image-login{
    width: 210px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.buttons-login{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
}
#myLogin{
    background-color: black;
    color: whitesmoke;
}
.buttons-login button{
    cursor: pointer;
    font-family: Poppins;
    padding: 11px;
    width: 80px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

.buttons-login button:hover{
    background-color: rgb(232, 232, 232);
}
@media(max-width: 915px){
    #textPrice{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .top-part{
        display: none;
    }
    .menu-mobile{
        display: flex;
    }
    #user{
        margin-left: auto;
    }
    #user-image{
        width: 30px;
        padding: 8px;
    }
    .logo{
        /* Because of -20px from original menu */
        margin-left: 20px; 
    }
    #menu-toggle{
        cursor: pointer;
        margin-left: 10px;
        margin-right: auto;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 10px;
        background: none;
    }
    #menu-toggle:hover{
        opacity: 0.7;

    }
    #menu-toggle img{
        width: 30px;
    }
    .sideBar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #305e02;
        height: 100vh;
        position: fixed;
        margin-top: -10px;
        width: 60%;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(-120%);
        transition: transform 0.3s ease-in;
        z-index: 1;
        pointer-events: auto;
    }
    .sideBar.active{
        transform: translateX(0);
    }
    .top-sideBar{
        display: flex;
        align-items: center;
        height: 55px;
        padding: 10px;
        width: 100%;
        padding-top: 15px;
    }
    .top-sideBar img{
        margin-left: 30px;
    }
    #lupa{
        margin-left: auto;
    }
    .sideContent{
        width: 100%;
        height: 90%;
    }
    .sideContent ul{
        list-style: none;
        margin-top: 10px;
        margin-left: -30px;
    }
    .sideContent ul a{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: 20px;
        width: 80%;
        height: 40px;
        padding: 8px;
        border-radius: 8px;

    }
    .sideContent ul li{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .sideContent a{
        text-decoration: none;
        color: white;
    }
    .sideContent ul a:hover{
        background-color: #264b01;
    }
    .logout{
        display: flex;
        margin-top: auto;
        width: 100%;
        align-items: center;
        padding-bottom: 20px;
        height: 80px;
        border-top: 1px solid #316101;
    }
    .logout a{
        margin-left: 40px;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: 30px;
        width: 80%;
        margin-top: 20px;
        height: 40px;
        padding: 8px;
        border-radius: 8px;
    }
    .logout a:hover{
        background-color: #264b01;
    }
    .home-title{
        padding: 20px;
    }
    .home-title h1{
        font-size: 25px;
    }
    /* main from home page */
    .home-prices{
        height: 955px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 0px;
    }
    .home-title{
        align-items: center;
        width: 90%;
    }
    .guaca-banner{
        margin: -150px 5% 0px 5%;
    }
}
@media(max-width: 355px){
    #textPrice{
        font-size: 20px;
    }
}
